<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo Producto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="producto.nombre" type="text" placeholder="Nombre del producto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input [(ngModel)]="producto.descripcion" type="text" placeholder="Descripción del producto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Foto</ion-label>
      <ion-input [(ngModel)]="producto.photo" type="text" placeholder="Enlace de imagen"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input [(ngModel)]="producto.precio" type="text" placeholder="Precio unitario"></ion-input>
    </ion-item>
    <ion-button (click)="addProduct()" expand="block" fill="clear" shape="round">
      Agregar producto
    </ion-button>
  </ion-card>
</ion-content>