<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item-sliding
          *ngFor="let item of products; let i = index"
          (click)="getProductById(item.id)"
        >
          <ion-item>
            <img [src]="item.photo">
            <ion-label>{{item.nombre}}</ion-label>
            <ion-label>{{item.precio}}</ion-label>
            <ion-button (click)="addCar" expand="block">
              <ion-icon name="cart-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-item-sliding>
        <ion-button  expand="block">
          <ion-icon name="cart-outline"></ion-icon>
        </ion-button>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
