<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Productos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item-sliding
          *ngFor="let item of products; let i = index"
          [routerLink]="['/producto', item.id]"
        >
          <ion-item>
            <img [src]="item.photo" style="margin: 4px" />
            <ion-label>
              <ion-chip color="primary">
                <ion-label (click)="getProductById(item.id)"
                  >{{item.nombre}}</ion-label
                >
              </ion-chip>
            </ion-label>
            <ion-label>
              <ion-chip color="primary">
                <ion-label (click)="getProductById(item.id)"
                  >$ {{item.precio}}</ion-label
                >
              </ion-chip>
            </ion-label>
            <ion-button (click)="addCar(item.id)" expand="block">
              <ion-icon name="cart-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
    <ion-fab vertical="bottom" horizontal="end" (click)="goCar()">
      <ion-fab-button color="warning">
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-row>
</ion-content>
