<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Productos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item-sliding *ngFor="let item of products; let i = index">
          <ion-item>
            <ion-avatar (click)="getProductById(item.id)">
              <img [src]="item.photo" style="margin: 4px" />
            </ion-avatar>

            <ion-label (click)="getProductById(item.id)">
              <ion-chip color="primary">
                <ion-label>{{item.nombre}}</ion-label>
              </ion-chip>
            </ion-label>
            <ion-label (click)="getProductById(item.id)">
              <ion-chip color="primary">
                <ion-label>$ {{item.precio}}</ion-label>
              </ion-chip>
            </ion-label>
            <ion-button (click)="addCar(item.id, item)" expand="block">
              <ion-icon name="cart-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-col>

    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button color="tertiary" (click)="goNewProduct()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning" (click)="goCar()">
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-row>
</ion-content>